<header>
    <div class="logo">
        <img src="/images/logo.png" alt="SportEquip Logo">
    </div>
    <h1>SPORT EQUIP</h1>
    <p>SEARCH CONTROL</p>
</header>

<nav>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/users">USERS</a></li>
        <li><a href="/products">PRODUCTS</a></li>
        <li><a href="/orders">ORDERS</a></li>
        <li><a href="/cart">CART</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/contact">CONTACT</a></li>
    </ul>
</nav>